:root {
    --cor: #006699;
  }
  
  body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--cor);
    color: #333;
    font-size: 1.2rem;
  }
  
  .container {
    max-width: 950px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
  }
  
  h1 {
    text-align: center;
    color: var(--cor);
  }
  h2 {
    text-align: center;
    color: var(--cor);
    font-size: 1.5rem;
  }
  
  .btn-custom {
    background-color: var(--cor);
    color: #fff; /* Define a cor do texto para branco */
    border-radius: 10px;
    height: 50px; /* Defina a largura desejada */
}
  
 
